.mbtablestyle {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #999;
  border-collapse: collapse;

  > table, td, th {
	padding: .25rem .5rem;
       	border: 1px solid #999;
	}
}


.text-justify {
  text-align: justify;
}
